/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: url("images/background.png");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #292727; /* Dark background */
    color: #ffffff; /* Light text color */
}

/* Logout button styling */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #ec4343; /* Darker button */
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #b41010; /* Slightly lighter on hover */
}

.highscores {
    position: absolute;
    top: 10%;
    left: 10px;
    width: 90vw; /* Make it responsive */
    max-width: 400px;
    height: auto;
    background-color: #3f3b3b;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.highscores h3 {
    font-size: 24px;
    text-align: center;
    color: white;
}

#highscore-list-normal {
    list-style-type: decimal;
    padding-left: 40px;
    font-size: 18px;
}

/* Adjusting title colors */
#highscore-list-normal li:nth-child(1) { color: gold; font-weight: bold; }
#highscore-list-normal li:nth-child(2) { color: silver; font-weight: bold; }
#highscore-list-normal li:nth-child(3) { color: #cd7f32; font-weight: bold; }

/* Main container styling */
.main-container {
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    background-color: #40ccb9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    margin: 20px;
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    bottom: -3%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: 2px solid #000;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit-highscore {
    margin-top: 10px;
}

.hidden {
    display: none;
}

#status {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
}

#game-over-message {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: red;
    font-weight: bold;
    display: none;
}

#game-over-message.show {
    display: block; /* Show when needed */
}

/* Title styling */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff; /* White text */
}

/* Simon game area styling */

/* Flex container for the color buttons */
.color-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    gap: 10px;
}

/* Flexbox to adjust spacing of left and right groups */
.left-group,
.right-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

/* Individual color button */
.color-button {
    width: 45vw; /* Responsive width */
    max-width: 200px; /* Limit max width */
    height: auto;
    transition: transform 0.2s;
}

.color-button:hover {
    /*background-color: #afb12d;*/
    transform: scale(1.05); /* Slightly enlarge the image on click */
}
/* Highlight on click */
.color-button:active {
    transform: scale(1.15); /* Slightly enlarge the image on click */
}
/* Disable hover and active effects */
.color-button.disabled {
    pointer-events: none; /* Disable pointer events, no hovering or clicking */
    transform: none; /* Remove transform effect */
}


/* Start button styling */
#start-game, #hard-mode {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#start-game:hover, #hard-mode:hover {
    background-color: #0056b3;
}

#start-game.hidden {
    display: none; /* Show when needed */
}

#start-button-placeholder {
    margin-top: 30px;
    width: 162.27px;
    height: 63px; 
    display: none;
}

#hard-mode {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#hard-mode:hover {
    background-color: #db1414; /* Darker blue on hover */
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .highscores {
        width: 95vw;
        max-width: none;
    }

    .color-button {
        width: 40vw;
        max-width: none;
    }

    .main-container {
        width: 95vw;
        margin: 10px;
    }

    #game-over-message {
        font-size: 40px;
    }
}
