body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #292727;
}

.sunnyGames {
    width: 100%;
    position: relative;
}

/* Title styling */
.title {
    font-size: 32px;
    color: #fffcfc;
    margin-bottom: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 10%;
}

.simonSays {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    left: 30%;
    top: 30%;
}

.simonSays:hover {
    /*background-color: #afb12d;*/
    transform: scale(1.05); /* Slightly enlarge the image on click */
}
/* Highlight on click */
.simonSays:active {
    transform: scale(1.15); /* Slightly enlarge the image on click */
}

.flappyDee {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    left: 50%;
    top: 30%;
}

.flappyDee:hover {
    /*background-color: #afb12d;*/
    transform: scale(1.05); /* Slightly enlarge the image on click */
}
/* Highlight on click */
.flappyDee:active {
    transform: scale(1.15); /* Slightly enlarge the image on click */
}